#slider {
    width: 1900px;
    height: 605px;
    overflow: hidden;
    margin: 0;
}

#slider .slides {
    display: block;
    width: 9000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1900px;
    height: 605px;
}
